{% extends 'shirts/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<div data-media-url="{% get_media_prefix %}" class="container text-center pt-5">
    <div class="row">
        <h1 class="col">Which shirt should I wear?</h1>
    </div>
    <div id="app">
    {% if user.is_authenticated %}
        <div class="row">
	    <div class="col">
                <img v-if="today.image" v-bind:src="today.image"  class="img-fluid rounded mx-auto">
                <img v-if="!today.image" src="/media/default.png" class="img-fluid rounded mx-auto">
            </div>
        </div>
        <div class="row mt-3">
            <h2 v-if="today" class="col">[[ today.name ]]</h2>
        </div>
        <div v-if="!today.worn" class="row mt-3">
            <div class="col-sm-3 offset-sm-3">
                <button v-on:click="wearShirt()" type="button" class="w-100 btn btn-primary btn-lg">Wear</button>
            </div>
            <div class="col-sm-3 mt-2 mt-sm-0">
                <button v-on:click="getShirt()" type="button" class="w-100 btn btn-primary btn-lg">Nah</button>
            </div>
       </div>
        <div v-if="today == 'None'" class="row mt-3">
            <div class="col-4 offset-4">
                <button v-on:click="resetShirts()" type="button" class="w-100 btn-lg btn btn-danger">RESET</button>
            </div>
        </div>
    {% else %}
        <div class="row mt-3">
            <div class="col-sm-8 offset-sm-2">
                <p class="lead">
                    Hello, This is a cool website I made to pick a shirt to wear for the day. That way I don't just wear 5 of the 50 shirts I own over and over.
                </p>
                <p>If you are me, please <a href="#" v-on:click="loginPage($event)">login.</a></p>
            </div>
        </div>
    {% endif %}
        <div class="row mt-3">
            <div v-show="message" v-bind:class="[errorMessage ? 'bg-danger' : 'bg-success']" id="message" class="card col-md-6 offset-md-3 text-light">
                <div class="card-body">
                    [[ message ]]
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="col text-left">Recent Wears</h3>
    </div>
    <div class="row">
        {% for shirt in recent %}
            <div class="col-sm mb-2">
                <div class="card">
                    <img src="{% if shirt.image %}{{ media_url }}{{ shirt.image }}{% else %}/media/default.png{% endif %}" class="card-img-top" alt="Recent shirt">
                    <small class="p-1 card-footer text-muted">
                        {{ shirt.name }}<br>{{ shirt.last_worn }}
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
 <!-- vue.js files -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
  let messageArea = document.getElementById('message');
  new Vue({
    el: '#app',
    delimiters: ['[[',']]'],
    data: {
    shirts: [],
    today: {},
    done: false,
    errorMessage: false,
    message: null,
    },
    mounted: function() {
      this.getShirt();
    },
    methods: {
      getShirt: function(){
        this.message = null;
        this.empty = false;
        axios.get('api/shirts/?worn=False')
            .then((response) => {
              this.shirts = response.data;
              if(this.shirts.length == 0) {
                  this.errorMessage = true;
                  this.today = 'None';
                  this.message = 'All shirts worn; Reset to continue...';
              } else {
                  this.today = this.shirts[Math.floor(Math.random()*this.shirts.length)];
              }
            })
            .catch((err) => {
              console.log(err);
            })
      },
      wearShirt: function(){
        if(this.today == 'None') {
            this.errorMessage = true;
            this.message = 'Why did you think you could do that?';
        }
        else {
            axios.patch(this.today.url, { 'worn': true }, {xsrfCookieName: 'csrftoken', xsrfHeaderName: 'X-CSRFToken'})
                .then((response) => {
                    this.loaded = true;
                    this.errorMessage = false;
                    this.message = 'Good choice! Have a great day!';
                })
                .catch((err) => {
                    this.loaded = true;
                    this.errorMessage = true;
                    this.message = 'Maybe get better at programming dude.';
                    console.log(err);
                })
        }
      },
      resetShirts: function() {
        axios.get('ive_worn_all_my_shirts_once')
            .then((response) => {
                this.getShirt();
            })
            .catch((err) => {
                this.errorMessage = true;
                this.message = 'Could not reset shirts!';
                console.log(err);
            })
      },
      loginPage: function(e) {
        e.preventDefault();
        this.errorMessage = true;
        this.message = "You're not me, you liar!";
      } 
    }
  });
</script>
{% endblock %}
